[Unit]
Description=KZSH Termoregulator Daemon
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/node %h/.kzsh-repo/.config/kzsh/src/web/server.js
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
